
@{
    ViewBag.Title = "Index";
}

<br><br>
<h3><strong>ผลงานวิชาการ</strong></h3>
<hr>

<a href="@Url.Action("AllAcademicPaper","AcademicPaper")"><h6 class="text-primary">+จัดการผลงานวิชาการ</h6></a>
<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="ค้นหาผลงานวิชาการ" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ค้นหา</button>
</form>
<br>

