
@{
    ViewBag.Title = "Index";
}

<br>
<br>
<h3><strong>ทำเนียบผู้เชี่ยวชาญ</strong></h3>
<a href="@Url.Action("CreateExpert","Expert")"><h6 class="text-primary">+เพิ่มผู้เชี่ยวชาญ</h6></a>

<div class="container mt-3">
    <div class="row">
        <div class="card-deck">
            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Creative-Tail-People-doctor.svg/1200px-Creative-Tail-People-doctor.svg.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">นายแพทย์เชี่ยวชาญ เก่งดี</h5>
                    <p class="card-text text-center">นายแพทย์เชี่ยวชาญ</p>
                    <p class="card-text">เบอร์สำนักงาน : 032-1184889</p>
                    <p class="card-text">เบอร์โทรสาร : 023-487887</p>
                    <p class="card-text">เบอร์มือถือ : 082-154884</p>
                </div>
            </div>
            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="https://placehold.it/280x140/bca" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ผู้เชี่ยวชาญ 2</h5>
                    <p class="card-text">....</p>                   
                </div>
            </div>
            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="https://placehold.it/280x140/bca" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ผู้เชี่ยวชาญ 3</h5>
                    <p class="card-text">....</p>
                </div>
            </div>
            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="https://placehold.it/280x140/bca" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ผู้เชี่ยวชาญ 4</h5>
                    <p class="card-text">....</p>
                </div>
            </div>
            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="https://placehold.it/280x140/bca" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ผู้เชี่ยวชาญ 5</h5>
                    <p class="card-text">....</p>
                </div>
            </div>
            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="https://placehold.it/280x140/bca" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ผู้เชี่ยวชาญ 6</h5>
                    <p class="card-text">....</p>
                </div>
            </div>
        </div>
        @*--Pagination*@
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

