
@{
    ViewBag.Title = "CreateInnovator";
}

<br /><br />
<h3><strong>เพิ่มนวัตกร</strong></h3>
<hr>

<div class="form-group">
    <label>รูปประจำตัว</label>
    <input type="file" class="form-control-file">
</div>
<form class="form-inline">
    <label class="mr-sm-2">คำนำหน้าชื่อ</label>
    <select class="form-control mb-2 mr-sm-2">
        <option>นาย</option>
        <option>นางสาว</option>
    </select>
    <label class="mr-sm-2">ชื่อ :</label>
    <input type="text" class="form-control mb-2 mr-sm-2">
    <label class="mr-sm-2">นามสกุล :</label>
    <input type="text" class="form-control mb-2 mr-sm-2">
    <br>
    <label class="mr-sm-2">เลขประจำตัวประชาชน :</label>
    <input type="text" class="form-control mb-2 mr-sm-2">
    <br>
    <label class="mr-sm-2">ตำแหน่ง :</label>
    <select class="form-control mb-2 mr-sm-2">
        <option>...</option>
        <option>.....</option>
    </select>
    <label class="mr-sm-2">ระดับ :</label>
    <select class="form-control mb-2 mr-sm-2">
        <option>7</option>
        <option>8</option>
    </select>
</form>
<div class="row justify-content-center">
    <button type="submit" class="btn btn-outline-success text-center">บันทึก</button>
</div>
