@{
    ViewBag.Title = "แก้ไขสถานะกิจกรรม";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkTracking")">กำกับติดตามงาน</a></li>
        <li class="breadcrumb-item" aria-current="page">@ViewBag.Title</li>
        <li class="breadcrumb-item active" aria-current="page">ชื่องานวิจัย</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <div class="card-title h5">
                    ชื่องานวิจัย: โครงการ xx
                </div>
                <div class="row">
                    <div class="col">ผู้วิจัย: xxxxxxxxxx</div>
                    <div class="col">กิจกรรม: yyyyyyyyyy</div>
                </div>
                <div class="timeline-container">
                    <ul class="timeline">
                        <li id="planningCheck">วางแผน</li>
                        <li id="workingCheck">ดำเนินการ</li>
                        <li id="finishingCheck">เสร็จสิ้น</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="card" id="planingCard">
            <div class="card-body">
                <div class="card-title h5">
                    <i class="fa fa-brain"></i>&nbsp;ผลการวางแผน
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="">ผลการดำเนินงาน</label>
                        <textarea class="form-control" cols="50"></textarea>
                    </div>
                    <div class="form-group col-6">
                        <label class="">เอกสารประกอบ</label>
                        <input type="file" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card" id="workingCard">
            <div class="card-body">
                <div class="card-title h5">
                    <i class="fa fa-briefcase"></i>&nbsp;ผลการดำเนินการ
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="">ผลการดำเนินงาน</label>
                        <textarea class="form-control" cols="50"></textarea>
                    </div>
                    <div class="form-group col-6">
                        <label class="">เอกสารประกอบ</label>
                        <input type="file" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card" id="finishingCard">
            <div class="card-body">
                <div class="card-title h5">
                    <i class="fa fa-flag-checkered"></i>&nbsp;ผลการเสร็จสิ้น
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="">ผลการดำเนินงาน</label>
                        <textarea class="form-control" cols="50"></textarea>
                    </div>
                    <div class="form-group col-6">
                        <label class="">เอกสารประกอบ</label>
                        <input type="file" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button type="button" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;ปรับปรุงสถานะกิจกรรม</button>&nbsp;<button type="reset" class="btn btn-danger"><i class="fa fa-asterisk"></i>&nbsp;ยกเลิก</button>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/updateactivity.js"></script>