@{
    ViewBag.Title = "จัดการข้อมูลนักวิจัย และนักนวัตกร";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">ประวัตินักวิจัยและนวัตกร</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>ประวัตินักวิจัยและนวัตกร</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-money-bill-alt"></i>&nbsp;@ViewBag.Title</h5>
        <hr />

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title">
                            จัดการข้อมูลนักวิจัย
                        </div>
                        <a href="@Url.Action("Index","Researcher")">
                            <img src="~/Image/researcher.png" class="rounded" alt="จัดการข้อมูลนักวิจัย" style="height:250px;">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title">
                            จัดการข้อมูลนักนวัตกร
                        </div>
                        <a href="@Url.Action("Index","Innovators")">
                            <img src="~/Image/innovator.png" class="rounded" alt="จัดการข้อมูลนักนวัตกร" style="height:250px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
