
@{
    ViewBag.Title = "Index";
}

<br>
<br>
<h3><strong>ประวัตินักวิจัยและนวัตกร</strong></h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <center><a href="@Url.Action("Index","Researcher")">
                <img src="https://banner2.cleanpng.com/20180603/tkw/kisspng-emojipedia-science-scientist-technology-emoji-friends-5b13f8d9ea9d31.615426061528035545961.jpg" width="500" height="300">
                <h3>นักวิจัย</h3>
            </a></center>
        </div>
        <div class="col">
            <center>
                <a href="@Url.Action("Index","Innovators")">
                    <img src="https://img.favpng.com/8/21/16/scientist-science-emoji-research-scientific-evidence-png-favpng-8Zek3NHmTKX97QF1wq4g632UU.jpg" width="500" height="300">
                    <h3>นวัตกร</h3>
                </a>
            </center>
</div>
    </div>
</div>
    

