@model E_RIMS.Models.Member
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header h5">
                    <i class="fa fa-user"></i>&nbsp;เข้าสู่ระบบด้วยชื่อผู้ใช้และรหัสผ่านของคุณ
                </div>
                <div class="card-body">
                    <div class="form-row form-group centerlook">
                        <label class="col-3"><i class="fa fa-user-alt"></i> ชื่อผู้ใช้งาน: </label>
                        <div class="col-9">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username)
                        </div>
                    </div>
                    <div class="form-row form-group centerlook">
                        <label class="col-3"><i class="fa fa-key"></i> รหัสผ่าน:</label>
                        <div class="col-9">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password)
                        </div>
                    </div>
                    <div class="loginbtn text-right">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-door-open"></i> เข้าสู่ระบบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}