
@{
    ViewBag.Title = "CreateResearch";
}

<h3><strong>เพิ่มผลงานวิจัย</strong></h3>
<hr>
<form class="form-inline">
    <label class="mr-sm-2">ชื่อเรื่อง</label>
    <input type="text" class="form-control mb-2 mr-sm-2">
    <label class="mr-sm-2">บทคัดย่อ</label>
    <input type="text" class="form-control mb-2 mr-sm-2">
    <label class="mr-sm-2">ประเภท</label>
    <select class="form-control mb-2 mr-sm-2">
        <option>...</option>
        <option>.....</option>
    </select>
    <label class="mr-sm-2">ผู้จัดทำ</label>
    <input type="text" class="form-control mb-2 mr-sm-2">
    <label class="mr-sm-2">ไฟล์/วิดีโอ</label>
    <input type="file" class="form-control-file">
</form>
<div class="row justify-content-center">
    <button type="submit" class="btn btn-outline-success text-center">บันทึก</button>
</div>

