@{
    ViewBag.Title = "ประเด็นหัวข้อวิจัย";
}
<br /><br />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>ประเด็นหัวข้อวิจัยที่น่าสนใจ</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-money-bill-alt"></i>&nbsp;@ViewBag.Title</h5>
        <hr />

        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col align-middle">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>

    </div>
</div>