@model E_RIMS.Models.Innovation

@{
    ViewBag.Title = "ยืนยันการลบนวัตกรรม";
}

<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h1>ยืนยันการลบนวัตกรรม</h1>
            <hr /> <br />
            <h3 class="text-danger">คุณต้องการลบงานนวัตกรรมนี้หรือไม่</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <br />
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger">ยืนยัน</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="@Url.Action("AllInnovation")" class="btn btn-info">ยกเลิก</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
