
@{
    ViewBag.Title = "Index";
}
<br><br>
<h3><strong>คลังผลงาน</strong></h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <center>
                <a href="@Url.Action("Index","Research")">
                    <img src="~/Image/img1.png" width="150" height="150">
                    <h4>งานวิจัย</h4>
                </a>
            </center>
        </div>
        <div class="col">
            <center>
                <a href="@Url.Action("Index","AcademicPaper")">
                    <img src="~/Image/img2.png" width="150" height="150">
                    <h4>งานวิชาการ</h4>
                </a>
            </center>
        </div>
        <div class="col">
            <center>
                <a href="@Url.Action("Index","Journal")">
                    <img src="~/Image/img3.png" width="150" height="150">
                    <h4>วารสาร สคร.6 ชลบุรี</h4>
                </a>
            </center>
        </div>
        <div class="col">
            <center>
                <a href="@Url.Action("Index","Innovation")">
                    <img src="~/Image/img4.jpg" width="150" height="150">
                    <h4>นวัตกรรม</h4>
                </a>
            </center>
        </div>
    </div>
</div>