@{
    ViewBag.Title = "คลังผลงาน";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">คลังผลงาน</li>
    </ol>
</nav>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ResearchTreasuryWork","TreasuryWork")">
                    <img src="~/Image/researcher.png" style="height:250px; margin:10px;">
                    <h4 class="card-title">งานวิจัย</h4>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("AcademicTreasuryWork","TreasuryWork")">
                    <img src="~/Image/Books_PNG.png" style="height:250px; margin:10px;">
                    <h4 class="card-title">งานวิชาการ</h4>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("InnovationTreasuryWork","TreasuryWork")">
                    <img src="~/Image/innovator.png" style="height:250px; margin:10px;">
                    <h4 class="card-title">นวัตกรรม</h4>
                </a>
            </div>
        </div>
    </div>

</div>