@using PagedList;
@using PagedList.Mvc;
@model IPagedList<E_RIMS.Models.Journal>
@{
    ViewBag.Title = "AllJournal";
}

<br><br>
<h3><strong>วารสาร สคร.6 ชลบุรี</strong></h3>
<a href="@Url.Action("CreateJournal","Journal")"><h6 class="text-primary">+เพิ่มวารสาร</h6></a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ที่</th>
            <th scope="col">ชื่อเรื่อง</th>
            <th scope="col">บทคัดย่อ</th>
            <th scope="col">ประเภท</th>
            <th scope="col">ผู้จัดทำ</th>
            <th scope="col">เอกสาร</th>
            <th scope="col">การกระทำ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>....</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td><img src="~/Image/download-solid.svg" width="20" height="20"></td>
            <td><img src="~/Image/pencil-alt-solid.svg" width="20" height="20">&nbsp;<img src="~/Image/trash-alt-regular.svg" width="20" height="20"></td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td><img src="~/Image/download-solid.svg" width="20" height="20"></td>
            <td><img src="~/Image/pencil-alt-solid.svg" width="20" height="20">&nbsp;<img src="~/Image/trash-alt-regular.svg" width="20" height="20"></td>


        </tr>
        <tr>
            <th scope="row">3</th>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td><img src="~/Image/download-solid.svg" width="20" height="20"></td>
            <td><img src="~/Image/pencil-alt-solid.svg" width="20" height="20">&nbsp;<img src="~/Image/trash-alt-regular.svg" width="20" height="20"></td>

        </tr>
        <tr>
            <th scope="row">4</th>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td><img src="~/Image/download-solid.svg" width="20" height="20"></td>
            <td><img src="~/Image/pencil-alt-solid.svg" width="20" height="20">&nbsp;<img src="~/Image/trash-alt-regular.svg" width="20" height="20"></td>

        </tr>
        <tr>
            <th scope="row">5</th>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td><img src="~/Image/download-solid.svg" width="20" height="20"></td>
            <td><img src="~/Image/pencil-alt-solid.svg" width="20" height="20">&nbsp;<img src="~/Image/trash-alt-regular.svg" width="20" height="20"></td>

        </tr>
    </tbody>
</table>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>


